<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Eshop</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*<script src="@Url.Content("~/Scripts/jquery-3.0.0.min.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Scripts/bootstrap-select.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-2.6.2.js")" type="text/javascript"></script>
    <link href="~/Content/bootstrap-select.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <div class="container">
            <span class="navbar-brand">IS projektas - El. parduotuvė</span>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">@Html.ActionLink("Pagrindinis", "Index", "Home", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Apie", "About", "Home", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Darbuotojam", "Index", "Product", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Pirkejam", "Categories", "Product", null, new { @class = "nav-link" })</li>
            </ul>
            <ul class="navbar-nav navbar-right">
                @if (Request.IsAuthenticated)
                {
                    <li class="nav-item disabled"><a class="nav-link">Krepšelis</a></li>  @*TODO: normalus linkas*@

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="">@User.Identity.Name</a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown02">

                            @using Eshop.Data.Entities
                            @if (Request.Cookies["cookie"]["role"] == "admin")
                            {
                                @Html.ActionLink("Administravimo panelė", "AdminMain", "Admin", null, new { @class = "dropdown-item" })
                            }

                            @if (Request.Cookies["cookie"]["role"] == "employee")
                            {
                                @Html.ActionLink("Darbuotojo panelė", "EmployeeMain", "Admin", null, new { @class = "dropdown-item" })
                            }

                            <span class="dropdown-item disabled">Mėgstamiausių sąrašas</span>  @*TODO: normalus linkas*@
                            @Html.ActionLink("Profilis", "Profile", "Account", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Atsijungti", "LogOut", "Account", null, new { @class = "dropdown-item" })
                        </div>
                    </li>
                }
                else
                {
                    <li class="nav-item">@Html.ActionLink("Registruotis", "Register", "Account", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Prisijungti", "LogIn", "Account", null, new { @class = "nav-link" })</li>
                }
            </ul>

        </div>
    </nav>

    <main class="container" role="main">
        @RenderBody()
    </main>

    <footer class="footer">
        <div class="container">
            <span class="text-muted">&copy; @DateTime.Now.Year - IS projektas</span>
        </div>
    </footer>
</body>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</html>
