@model Eshop.Data.Models.AccountInfoModel

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profile</h2>
<div>
    <table>
        <tr>
            <td>Elektroninis paštas</td>
            <td>@Html.Encode(User.Identity.Name)</td>
        </tr>
        <tr>
            <td>Vardas</td>
            <td>@Html.DisplayFor(name => Model.Name)</td>
        </tr>
        <tr>
            <td>Pavarde</td>
            <td>@Html.DisplayFor(lastname => Model.LastName)</td>
        </tr>
        <tr>
            <td>Adresas</td>
            <td>@Html.DisplayFor(address => Model.Address)</td>
        </tr>
        <tr>
            <td>Telefono numeris</td>
            <td>@Html.DisplayFor(phone => Model.Phone)</td>
        </tr>
        <tr>
            <td>Pašto kodas</td>
            <td>@Html.DisplayFor(zipcode => Model.ZipCode)</td>
        </tr>
    </table>
</div>

