@model Eshop.Data.Entities.Attribute
<li style="padding-bottom:15px">
    @using (Html.BeginCollectionItem("Attributes"))
    {
        <label class="control-label col-md-2" >Pavadinimas</label>
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name);

        <label class="control-label col-md-2">Aprašymas</label>
        @Html.TextAreaFor(model => model.Description)
        @Html.ValidationMessageFor(model => model.Description);

        <label class="control-label col-md-2">Požymis</label>
        @Html.CheckBoxFor(model => model.IsTrait)
        @Html.ValidationMessageFor(model => model.IsTrait);
        <a href="#" onclick="$(this).parent().remove();">Delete</a>
    }
</li>
