<fieldset>
    <H1>Category</H1>
    <ul style="list-style-type: none">
        <li style="padding-bottom:15px">
        <li>@Html.ActionLink("Add Category", "Create", "Category")</li>
        <li>@Html.ActionLink("Upload Categories", "UploadCategories", "Category")</li>
        <li>@Html.ActionLink("Edit Categories", "CategoryList", "Category")</li>
        <li>@Html.ActionLink("Add Category Attributes", "CategoryList", "Category")</li>
        <li>@Html.ActionLink("Upload Attributes", "UploadAttributes", "Category")</li>
    </ul>
</fieldset>
