<fieldset>
    <H1>Kategorijos</H1>
    <ul style="list-style-type: none">
        <li style="padding-bottom:15px">
        <li>@Html.ActionLink("Pridėti kategorija", "Create", "Category")</li>
        <li>@Html.ActionLink("Įkelti kategorija", "UploadCategories", "Category")</li>
        <li>@Html.ActionLink("Redaguoti kategorijas", "CategoryList", "Category")</li>
        <li>@Html.ActionLink("Pridėti kategorijos atributus", "CategoryList", "Category")</li>
        <li>@Html.ActionLink("Įkelti atributus", "UploadAttributes", "Category")</li>
    </ul>
</fieldset>
