
@model PagedList.IPagedList<Eshop.Data.Entities.Manufacturer>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Gamintojai";
}

<h2>Gamintojai</h2>

<p>
    @Html.ActionLink("Kurti naują", "CreateManufacturer") | @Html.ActionLink("Įkelti naują", "Upload")
</p>

@using (Html.BeginForm("Manufacturer", "Product", FormMethod.Get))
{
    <p>
        Pavadinimas: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Ieškoti" />
    </p>
}
<table class="table">
    <tr>
        <th>
            Pavadinimas
        </th>
        <th>
            Svetainė
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a href=@item.WebLink>@Html.DisplayFor(modelItem => item.WebLink)</a>

            </td>
            <td>
                @Html.ActionLink("Redaguoti", "EditManufacturer", new { id = item.Id }) | @Html.ActionLink("Peržiūrėti", "Details", new { id = item.Id }) | @Html.ActionLink("Ištrinti", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<br />
Puslapis @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) iš @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, currentFilter = ViewBag.CurrentFilter }))
