<fieldset>
    <legend>Details</legend>
    <ul style="list-style-type: none">
        <li style="padding-bottom:15px">
        <li>@Html.ActionLink("Add Category", "Create", "Product")</li>
        <li>@Html.ActionLink("Upload Categories", "UploadCategories", "Product")</li>
        <li>@Html.ActionLink("Edit Categories", "CategoryList", "Product")</li>
        <li>@Html.ActionLink("Add Category Attributes", "CategoryList", "Product")</li>
        <li>@Html.ActionLink("Upload Attributes", "UploadAttributes", "Product")</li>
    </ul>
</fieldset>
   
