@model IEnumerable<Eshop.Data.Entities.Account>

@{
    ViewBag.Title = "ClientList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Klientų sąrašas</h2>

@if (TempData["ShowSuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @Html.Encode(TempData["ShowSuccessMessage"])
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccountInfo.Name), @Html.DisplayNameFor(model => model.AccountInfo.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AccountInfo.Name) @Html.DisplayFor(modelItem => item.AccountInfo.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            @Html.ActionLink("Trinti", "DeleteAccount",
               new { id = item.Id, role = item.Role },
               new { onclick = "return confirm('Ar tikrai norite ištrinti " + item.AccountInfo.Name + " " + item.AccountInfo.LastName + "?');" })
            |
            @Html.ActionLink("Suteikti darbuotojo rolę", "ChangeRole",
               new { id = item.Id, newRole = Eshop.Data.Entities.Account.AccRole.employee },
               new { onclick = "return confirm('Ar tikrai norite suteikti darbuotojo rolę " + item.AccountInfo.Name + " " + item.AccountInfo.LastName + "?');" })
        </td>
    </tr>
}

</table>
